doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Tasks Aufgaben
        link(rel="stylesheet" href="/styles/style.css")
    body

    header Demonstration Project for Template Engine Pug


    block content
        div kein Inhalt

    footer Just a Footer for possible &copy; 2022 Copyright Information