/*h2{*/
/*    border:1px solid red;*/
/*}*/

.information{
    background-color:gainsboro;
    padding:5px;
    display:none;
}


h2{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    margin-bottom: 0px;
}

p{
    font-weight: bold;
}

#red{
    background-color: #f58b8b;
    color: #fff9f9;
}

#orange{
    background-color: #ff982c;
    color: #fff2e0;
}

#yellow{
    background-color: #fffc57;
    color: #c4c41f;
}

#green{
    background-color: #88dd00;
    color: #f1ffda;
}