body{
    font-size: larger;
}

label {
    width:120px;
    display: inline-block;
    font-weight: bold;
}

input {
    width:100px;
}

div {
    margin: 10px;
}

button, input {

    font-size: large;
}