@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: #88dd00;
}

body a {
    color: #88dd00;
}
body > header a {
    color:white;
}

body > header > h1{
    text-align: center;
}

body h1{
    color:white;
}

span.highlight{
    color: white;
}

#main-header{
    /* order matters */
    border-bottom: 2px solid black;

    /* defines space around element */
    margin: 10px 20px;
}


article{
    background-color: white;
    max-width: calc(30% - 15px);
    min-width: 200px;
    min-height: 400px;
    display: inline-block;
    border: 3px solid black;
    float:left;
    /* space around */
    margin: 10px;
    /* space between content and border */
    padding: 10px;
}


/* horizontal nav bar */
nav {
    height:25px;
    width:100%;
    text-align:center;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display:inline-block;
}

nav > ul > li a {
    display: block;
    width: 150px;
    /* spaces */
    padding:5px;
    margin:2px;
    /* color and decoration */
    color:black;
    background-color:white;
    border-bottom:2px solid black;
    text-align: center;
    text-decoration: none;
}

/* hover effect */
nav > ul > li a:hover {
    color:white;
    background-color:black;
}

#main-footer{
    clear:both;
}